/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 575px) {
  .conditions p, .conditions a {
    padding-left: 15px;
    padding-right: 15px; }

  footer {
    padding: 10px 0; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 2rem;
    letter-spacing: 0;
    margin-bottom: 1.25rem; }

  .banner {
    text-align: center;
    padding-bottom: 4.5rem; }
    .banner p {
      letter-spacing: 0; }
    .banner h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem; }
    .banner h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .banner .button {
      margin-top: 2rem; }

  .counter span {
    font-size: 1.5rem; }

  section {
    padding: 2rem 0; }

  .info p {
    line-height: 1.75rem; }

  .schedule p.descr {
    font-size: 1.25rem;
    line-height: 2rem; }
  .schedule .date-card {
    margin-bottom: 2rem; }

  .conditions a:before {
    margin-right: 0.75rem; }

  .application {
    padding-top: 3rem; }
    .application h2 {
      font-size: 2.25rem; }
    .application input:first-child {
      margin-top: 2rem; }

  .contacts {
    padding-bottom: 0; }
    .contacts h2 {
      font-size: 2.25rem; }
    .contacts .adress, .contacts .phone, .contacts .email {
      margin-bottom: 1.5rem; } }
@media only screen and (max-width: 420px) {
  .schedule p.descr {
    padding-left: 2rem; } }
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem; }

  h4 {
    font-size: 1.25rem; }

  .banner {
    padding-top: 5.5rem;
    padding-bottom: 6.5rem; }
    .banner p {
      font-size: 1.5rem;
      margin-bottom: 1.5rem; }
    .banner h1 {
      margin-bottom: 1.3rem; }
    .banner h3 {
      margin-bottom: 1.6rem; }
    .banner a {
      font-size: 1.5rem; }

  .counter {
    padding: 3.5rem 0; }
    .counter span {
      font-size: 2.1rem; }

  section {
    padding: 3.2rem 0; }

  .schedule p.descr {
    font-size: 1.875rem;
    line-height: 2.5rem; }
  .schedule .date-card {
    margin-bottom: 2rem; }
  .schedule .date {
    width: 8.5rem;
    height: 8.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    line-height: 7.25rem; }
  .schedule h2 {
    margin-bottom: 3rem; }

  .conditions {
    padding-bottom: 4.5rem; }
    .conditions a {
      margin-top: 1.25rem; }
      .conditions a:last-child {
        margin-top: 1rem; }

  .application button {
    font-size: 1.5rem; }

  .contacts {
    padding-bottom: 2.5rem; }
    .contacts .adress {
      margin-bottom: 3rem; }

  footer span {
    font-size: 1.25rem; }

  /* Medium Devices, Desktops */ }
@media only screen and (min-width: 992px) {
  .banner {
    background-image: url(../img/bg_banner_lg.png); }
    .banner img {
      height: 25rem; }

  h4 {
    line-height: 3rem;
    margin-bottom: 0; }

  .banner {
    padding-top: 11rem;
    padding-bottom: 11rem; }
    .banner p {
      font-size: 1.25rem; }
    .banner h1 {
      font-size: 3.75rem;
      margin-bottom: 1.5rem; }
    .banner h3 {
      font-size: 1.5rem; }

  a {
    font-size: 1.25rem; }

  .counter span {
    font-size: 2.5rem; }

  section {
    padding: 4rem 0; }

  .schedule {
    padding-top: 2.5rem; }
    .schedule h2 {
      margin-bottom: 2.5rem; }
    .schedule .date {
      width: 10rem;
      height: 10rem;
      line-height: 8.75rem; }
      .schedule .date p {
        font-size: 1.875rem;
        line-height: 2.2rem; }
    .schedule .date-card {
      margin-bottom: 1rem; }
    .schedule .col-lg-3:last-child {
      margin-left: 7.5rem; }
    .schedule p.descr {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 700;
      text-align: center;
      margin-top: 1.75rem; }

  .conditions {
    padding-top: 2.5rem; }
    .conditions p {
      padding-bottom: 1.5rem; }

  .application {
    padding-bottom: 5rem; }

  .contacts .icon img {
    height: 3rem; }
  .contacts h2 {
    margin-bottom: 3rem; }
  .contacts .adress {
    margin-bottom: 1rem; }
  .contacts .map {
    padding: 0;
    padding-top: 2.25rem; }

  footer .logo {
    height: 3.2rem;
    width: 3.2rem; }

  /* Large Devices, Wide Screens */ }
@media only screen and (min-width: 1200px) {
  .banner {
    padding: 0;
    background-image: url(../img/bg_banner_xl.png); }
    .banner .row {
      min-height: 944px;
      height: 100vh; }
    .banner img {
      height: 36rem; }
    .banner h1 {
      font-size: 5rem;
      margin-bottom: 0.6rem; }
    .banner h3 {
      font-size: 1.875rem;
      margin-bottom: 2rem; }

  h4 {
    font-size: 1.5rem; }

  section {
    padding: 4.5rem 0; }

  .info p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 2rem; }

  .schedule .date {
    width: 12.5rem;
    height: 12.5rem;
    line-height: 11.5rem; }
    .schedule .date p {
      font-size: 2.25rem; }
  .schedule .date-card {
    margin-bottom: -1rem; }
  .schedule .col-lg-3:last-child {
    margin-left: 9rem; }
  .schedule p.descr {
    font-size: 1.75rem;
    line-height: 2.125rem;
    margin-top: 1rem; }

  .conditions {
    padding-top: 3rem; }
    .conditions p {
      font-size: 1.5rem; }
    .conditions a {
      font-size: 1.5rem;
      margin-top: 2.5rem; }
      .conditions a:last-child {
        margin-top: 2.5rem; }
    .conditions h2 {
      margin-bottom: 2.5rem; }

  .contacts {
    padding-bottom: 4rem; }
    .contacts p {
      font-size: 1.5rem;
      line-height: 2.2rem; }
    .contacts h2 {
      margin-bottom: 4rem; }
    .contacts .map {
      padding-top: 0; } }
